footer{
     width: 100%;
     position: absolute;
     bottom: 0;
     background-color: grey;
     height: 50px;
}

nav {
     border-top: solid black 1px;
     border-bottom:  solid black 1px;
}
.foto{
     height: 300px;
}
.card{
     margin-top: 10px;
}
.text{
     text-align: center;
     margin-top: 10px;
}
