{% extends 'base.html.twig' %}

{% block title %}Inschrijven{% endblock %}

{% block inschrijven %}
    <div class="container">


            {% for training in trainingen %}
                {% for les in training.getLessons %}
    <div class="card" style="width: 18rem; margin-top: 5%;">
        <div class="card-body">
            <h5 class="card-title">{{training.naam}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ les.location }}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

        {% endfor %}
            {% endfor %}





    </div>

{% endblock %}