{% extends 'base.html.twig' %}

{% block regels %}
    
    <div class="container" style="text-align: center">
    <section class="mb-4">

        <h2 class="h1-responsive font-weight-bold text-center my-4">Gedragsregels</h2>
        <p class="text-center w-responsive mx-auto mb-5">Dit zijn de gedragsregels van Training Factory:<br>
            <ul>
            <li>Als de trainer aan het woord is, is de groep stil.</li>
            <li>We schelden niet</li>
            <li>We zitten niet aan elkaar</li>
            <li>We schoppen niet</li>
            <li>We slaan niet</li>
            <li>We pesten niet</li>
            <li>Materialen waarmee we trainen of die al op het veld staan, laat je staan en blijf je af</li>
        </ul>
           </p>
    </section>
    </div>
{% endblock %}