{% block delete %}
{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('training_delete', {'id': training.id}) }}" onsubmit="return confirm('Weet u zeker dat u deze les wilt verwijderen?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training.id) }}">
    <button class="btn btn-danger" style="float: right">Verwijderen</button>
</form>
{% endif %}
{% endblock %}
